In [189]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import re
from textblob import TextBlob
from wordcloud import WordCloud
import collections
import nltk
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [178]:
df = pd.read_csv("D:/Projects/training.1600000.processed.noemoticon.csv",encoding='latin-1',header = None)

In [179]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [180]:
df.columns = ['Class','UserId','Time','Querytype','User','Tweets']
df.head()

,Class,UserId,Time,Querytype,User,Tweets
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [181]:
df.sample(20)

,Class,UserId,Time,Querytype,User,Tweets
148619,0,1883190896,Fri May 22 08:09:17 PDT 2009,NO_QUERY,Erin92345,@Dan_Tasmic srry didn't see you responded til ...
218822,0,1976254214,Sat May 30 16:55:33 PDT 2009,NO_QUERY,rlhood,Pics are turning out great. Problem is I only ...
1412333,4,2056644096,Sat Jun 06 11:31:35 PDT 2009,NO_QUERY,turner1992,@clarebrown_x hey i am new to this to haha jus...
1023140,4,1882935541,Fri May 22 07:44:11 PDT 2009,NO_QUERY,nil17,For those of you that missed it...I managed to...
682604,0,2250054974,Fri Jun 19 23:35:55 PDT 2009,NO_QUERY,joythrasher,tomorrow is going to be fun its going to suck ...
1155300,4,1978998112,Sun May 31 01:13:53 PDT 2009,NO_QUERY,soeppey,i know.
1005270,4,1880495546,Fri May 22 01:26:53 PDT 2009,NO_QUERY,hazuki15,@Chell85 WELCOME!
953665,4,1824693404,Sun May 17 02:30:41 PDT 2009,NO_QUERY,JestDCH,@chavtasticjinx You know the words? o.O even i...
759327,0,2296167222,Tue Jun 23 08:50:58 PDT 2009,NO_QUERY,ula_b,wtf cold shitty weather
1439151,4,2061458601,Sat Jun 06 20:54:52 PDT 2009,NO_QUERY,melojean,Is leaving after lunch. Get back to you guys ...
614485,0,2225912724,Thu Jun 18 11:18:02 PDT 2009,NO_QUERY,anderwood,@Greatchen I really should - especially since ...
35688,0,1565328937,Mon Apr 20 06:29:34 PDT 2009,NO_QUERY,drchino,@carmenego Tried recording some electric guita...
140007,0,1880931195,Fri May 22 03:00:34 PDT 2009,NO_QUERY,TessMorris,"@hen4 LOL I'm a little OCD ,not a crease in si..."
1308096,4,2012627352,Tue Jun 02 20:59:55 PDT 2009,NO_QUERY,Jbcgardner,Going to bed... need to work out early tomorrow
239671,0,1980671919,Sun May 31 07:22:32 PDT 2009,NO_QUERY,druzilla47,@nilsipilsifan That sucks. Hmm. Wish I could h...
440718,0,2066817858,Sun Jun 07 11:13:35 PDT 2009,NO_QUERY,MissTaylorGreer,@stephanieelise1 i only have 26 followers whe...
107940,0,1824121894,Sun May 17 00:07:22 PDT 2009,NO_QUERY,ryanlmao,trying to find a new twitter bg.. no success
1584655,4,2190586092,Tue Jun 16 03:09:10 PDT 2009,NO_QUERY,liltux,i am goin to get a 2 leiters of dr.pepper righ...
381864,0,2052869545,Sat Jun 06 02:20:42 PDT 2009,NO_QUERY,Gillian_CC,Going to to do my stupid papers
385913,0,2053696010,Sat Jun 06 05:25:10 PDT 2009,NO_QUERY,DonnaMaloney,aww thaught it would be a good day today xx

In [182]:
df.drop(['UserId','Time','Querytype','User'],axis = 1, inplace = True)
df.head()

   Class                                             Tweets
0      0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1      0  is upset that he can't update his Facebook by ...
2      0  @Kenichan I dived many times for the ball. Man...
3      0    my whole body feels itchy and like its on fire
4      0  @nationwideclass no, it's not behaving at all....

In [183]:
df['len_tweet'] = df['Tweets'].apply(lambda x : len(x) - x.count(" "))
df.head()

   Class                                             Tweets  len_tweet
0      0  @switchfoot http://twitpic.com/2y1zl - Awww, t...         96
1      0  is upset that he can't update his Facebook by ...         90
2      0  @Kenichan I dived many times for the ball. Man...         71
3      0    my whole body feels itchy and like its on fire          37
4      0  @nationwideclass no, it's not behaving at all....         90

In [184]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [185]:
def percent_punctuation(text):
    count_percent = sum([1 for char in text if char in string.punctuation])
    return round((count_percent/(len(text)- text.count(" "))),2)*100

In [186]:
df['Percent_punct'] = df['Tweets'].apply(lambda x : percent_punctuation(x))
df.head()

,Class,Tweets,len_tweet,Percent_punct
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",96,12.0
1,0,is upset that he can't update his Facebook by ...,90,7.0
2,0,@Kenichan I dived many times for the ball. Man...,71,4.0
3,0,my whole body feels itchy and like its on fire,37,0.0
4,0,"@nationwideclass no, it's not behaving at all....",90,10.0

In [187]:
def percent_capitalised(text):
    count_capital = sum([1 for char in text if char in'[A-Z]'])
    return round(count_capital/(len(text)- text.count(" ")),2)*100

In [188]:
df['Count_capital'] = df['Tweets'].apply (lambda x : percent_capitalised(x))
df.head()

KeyboardInterrupt:

In [ ]:
bins = np.linspace(0,200,40)
plt.hist(df['len_tweet'],bins)
#plt.hist(df[df['Class']== 4][:500]['Tweets'],bins,alpha = 0.5 ,density = True, label = 4)
#plt.legend(loc='upper left')
plt.show()

In [ ]:
bins = np.linspace(0,50,40)
plt.hist(df['Percent_punct'],bins)
plt.show()                           ### It is showing skewed distribution we need to transform this feature

In [ ]:
for i in [1,2,3,4,5,6,7]:
    plt.hist(df['Percent_punct']**1/i,bins = 40)
    plt.title("Box-Cox Transformation:1/{}".format(str(i)))
    plt.show()

In [ ]:
df.isnull().sum()

In [ ]:
def cleantext(text):
    text = re.sub(r'@[A-Za-z0-9]+','',text)
    text = re.sub(r'http?:\/\/\S+', '', text)
    text = re.sub(r'#','',text)
    return text

In [ ]:
df['Tweets'] = df['Tweets'].apply(cleantext)

In [ ]:
df

In [ ]:
Class_new = {0 : 'Negative', 2 : 'Neutral' , 4: 'Positive'}

In [ ]:
def Class_encode(Class):
    return Class_new[Class]

In [ ]:
df.Class = df.Class.apply(Class_encode)
df.head()

In [ ]:
negative_count = (df['Class']== 'Negative').sum()
positive_count = (df['Class'] == 'Positive').sum()
neutral_count = (df['Class'] == 'Neutral').sum()

In [ ]:
print('The no.of negative counts:',negative_count)
print('The no.of positive counts:',positive_count)
print('The no.of neutral counts:',neutral_count)

In [ ]:
plt.bar(["Negative","Neutral","Positive"],[negative_count,neutral_count,positive_count])
plt.title("Distribution of tweets according to Class")
plt.xlabel("Type of Response")
plt.ylabel("No. of Tweets")
plt.show()

In [ ]:
### Calculate most commomly occuring words (first 50)

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words = 'english')
#cv
words = cv.fit_transform(df['Tweets'])
#words
word_count = words.sum(axis=0)
#word_count
words_freq = [(word, word_count[0, i]) for word, i in cv.vocabulary_.items()]
words_freq = sorted(words_freq, key = lambda x: x[1], reverse = True)
words_freq[:50]

In [ ]:
### Plotting the graph of frequency for first 50 occuring words

frequency = pd.DataFrame(words_freq, columns=['word', 'frequency'])
frequency
frequency.head(50).plot(x='word', y='frequency', kind='bar', figsize=(15, 7), color = 'black')
plt.title("Most Frequently Occuring Words - Top 30")
plt.xlabel('Frequently occuring words')
plt.ylabel('Frequency of occuring')
plt.show()

In [ ]:
words = ' '.join([tweet for tweet in df['Tweets']])

In [ ]:
wc = WordCloud(max_words = 1000 , width = 2500 , height = 1600 ).generate(words)
plt.imshow(wc , interpolation = 'bilinear')
plt.show()

In [ ]:
df_negative = df[df['Class'] == 'Negative']
plt.figure(figsize=(14,6))
wc1 = WordCloud(max_words = 500 , width = 2500 , height = 1600 ).generate(' '.join(df_negative.Tweets))
plt.imshow(wc1 , interpolation = 'bilinear')
plt.show()

In [ ]:
df_positive = df[df['Class'] == 'Positive']
plt.figure(figsize=(14,6))
wc2 = WordCloud(max_words = 500 , width = 2500 , height = 1600 ).generate(' '.join(df_positive.Tweets))
plt.imshow(wc2 , interpolation = 'bilinear')
plt.show()

In [ ]:
df_positive = df[df['Class']=='Positive']
df_positive.head()

In [ ]:
df_negative = df[df['Class'] == 'Negative']
df_negative.head()

In [ ]:
tokenized_tweet = df['Tweets'].apply(lambda x: x.split())

In [ ]:
from gensim.models import Word2Vec
from time import time
from gensim import models
import gensim

In [ ]:
### word embedding 

w2v_model = gensim.models.Word2Vec(tokenized_tweet,size=300, 
                                            window=2, 
                                            min_count=10, 
                                            workers=8)
w2v_model

In [ ]:
#### assigning the vocabulory find out in w2v_model to words_gen

words_gen = w2v_model.wv.vocab

#words_gen

In [ ]:
### to find transformation form for particular word

vector_word = w2v_model.wv['thanks']
vector_word
vector_word.shape

In [ ]:
w2v_model.wv.most_similar(positive = "thanks")

In [ ]:
### this will give you the similar words related to input word

w2v_model.wv.most_similar(positive = "hope")

In [ ]:
w2v_model.wv.most_similar(negative = "miss")

In [ ]:
w2v_model.wv.most_similar(negative = "sad")

In [ ]:
nltk.download('stopwords')

In [176]:
df = df.drop(['Class'],axis = 1,inplace = True)
y = df['Class']
print(y)
print(df)

AttributeError: 'NoneType' object has no attribute 'drop'

In [166]:
df_train, df_test = train_test_split(df, test_size=0.3, random_state=42)
print("TRAIN size:", len(df_train))
print("TEST size:", len(df_test))

TRAIN size: 1120000
TEST size: 480000

In [ ]:

df_train, df_test, y_train, y_test = train_test_split(df,y,test_size=0.2,train_size=0.8)
x_train, x_cv, y_train, y_cv = train_test_split(x,y,test_size = 0.25,train_size =0.75)

In [169]:
from sklearn.model_selection import train_test_split

df_train, df_valid, y_train, y_valid = train_test_split(df_train, y, test_size = 0.25, random_state = 42)

print(df_train.shape)
print(df_valid.shape)
print(y_train.shape)
print(y_valid.shape)

ValueError: Found input variables with inconsistent numbers of samples: [1200000, 1600000]